[Unit]
Description=MoFA-FM Test Celery Beat
After=network.target redis.service

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/root/mofa-fm-test/backend
Environment="PATH=/root/mofa-fm-test/backend/venv/bin"
ExecStart=/root/mofa-fm-test/backend/venv/bin/celery -A config beat --loglevel=info --logfile=/var/log/mofa-fm-test/celery-beat.log --pidfile=/run/celery-beat-test.pid --detach
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

